<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reusable Header</title>
    <link rel="stylesheet" href="/assets/styles/headerCss.css">
    <link rel="stylesheet" href="/assets/icons/themify-icons/themify-icons.css">
</head>
<body>

<header class="header_Components">
    <div class="header_container">
        <div class="subnav_container">
            <a href="#" class="subnav_logo">FIZH MARKET</a>

            <div class="subnav-icons">
                <i class="ti-bell"></i>
                <i class="ti-shopping-cart"></i>
                <i class="ti-user"></i>
                <button class="btn">Login</button>
                <button class="btn">Sign Up</button>
            </div>

            
        </div>
        
        <div class="mainnav">
            <ul class="mainnav-links">
                <li><a href="#" data-target="home" class="active">Home</a></li>
                <li><a href="#" data-target="news-sale">News Sale</a></li>
                <li><a href="#" data-target="mens">Men's</a></li>
                <li><a href="#" data-target="womans">Woman's</a></li>
                <li><a href="#" data-target="about">About</a></li>
            </ul>
        
            <div class="mainnav_search-box">
                <input type="text" placeholder="Find...">
                <button><a href="#"><i class="ti-search"></i></a></button>
            </div>
        </div>
            
        
    </div>
</header>
</body>
</html>
